footer {
    width: auto;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 320px;
}

#scroll-top-btn {
    display: none;
    width: 50px;
    height: 50px;
    bottom: 190px;
    right: 30px;
    cursor: pointer;
    background: url("../image/scroll_0.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}

#scroll-top-btn:hover {
    display: none;
    cursor: pointer;
    background: url("../image/scroll_1.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
}

.hodu-logo {
    width: 226px;
    height: auto;
}

.footer-social {
    display:flex;
    gap: 20px;
}

.footer-social img {
    width: 42px;
    height: auto;
    cursor: pointer;
}