* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: sticky;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 320px;
    background-color: rgba(242, 233, 216, 1);
}

header img {
    width: 130px;
    height: auto;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav button {
    width: 43px;
    height: 20px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    border: none;
    gap: 30px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 233, 216, 1);
}

#orange-btn {
    display: inline-block;
    width: 140px;
    height: 50px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
    text-align: center;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    background: rgba(217, 118, 82, 1);
}