.section-three {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0 320px;
}

.location-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 45px;
}

.text-box-three {
    display: flex;
    flex-direction: column;
    font-family: Pretendard;
    text-align: left;
    gap: 20px;
}

.text-box-three h3 {
    width: 280px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: rgba(0, 0, 0, 1);
}

.text-box-three p {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(96, 99, 103, 1);
}

.location-section img {
    width: 1280px;
    height: 520px;
    border-radius: 12px;
}