/* 섹션1 */
.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 320px;
    gap: 110px
}

.section-one img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
}

.text-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Pretendard;
    text-align: left;
    gap: 30px;
    color: rgba(0, 0, 0, 1);
    transform: translateX(-40px);
}

.text-box h2 {
    width: 510px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.text-box p {
    width: 510px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* 섹션2 */
.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 320px;
    gap: 10px
}

.text-box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Pretendard;
    gap: 40px;
}

.section-two h3 {
    width: 950px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: rgba(217, 118, 82, 1);
}

.section-two p {
    width: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

.section-two p span {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(217, 118, 82, 1);
}

.image-gallery img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 73px;
}

.image-gallery-row {
    display: flex;
    justify-content: center;
    gap: 73px;
}