.section-four {
    display: flex;
    justify-content: center;
    padding: 0 320px;
    position: relative;
}

.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: rgba(38, 49, 64, 1);
    color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1;
}

.subscribe-content {
    width: 1164px;
    height: 100px;
    position: absolute;
    z-index: 2;
}

.subscribe-content .text-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.text-box-four {
    display: flex;
    flex-direction: column;
    gap:20px;
    font-family: Pretendard;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 2;
}

.subscribe-content h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.subscribe-content p {
    width: 471px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 1);
    top: 20%;
    left: 54%;
}

.email-form {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 60px;
}

.mail-icon {
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 24px;
    top: 18px;
    left: 25px;
}

.subscribe-form input[type="email"] {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 20px;
    left: 65px;

    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(118, 118, 118, 1);
}

.background-image {
    display: flex;
    width: auto;
    height: 340px;
    display: block;
    position: relative;
    z-index: 0;
    top: 101px;
}

#modal-btn {
    display: inline-block;
    background: rgba(217, 118, 82, 1);
    color: rgba(255, 255, 255, 1);
    width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
    text-align: center;
    border: none;

    position: relative;
    z-index: 3;
    left: 190px;
    cursor : pointer;
}