footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 178px;
    padding: 0 20px;
    margin-top: 300px;
}

.img-content {
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-bottom:20px;
}

.hodu-logo {
    width: 112px;
    height: auto;
}

.footer-social {
    display:flex;
    gap:15px;
}

.footer-social img {
    width: 32px;
    height: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 18px;
    margin-bottom: 21px;
}

.text-content button {
    width: 90px;
    height: 18px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    color: rgba(118, 118, 118, 1);
    background-color: white;
    border: none;
}