* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: sticky;
    width: auto;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 233, 216, 1);
    padding: 0 20px;
}

header .logo {
    width: 92px;
    height: auto;
}

#open-menu {
    width: 32px;
    height: 32px;
    background: url("../image/menu.png");
    background-size: cover;
    border: none;
}

#orange-btn {
    background: rgba(217, 118, 82, 1);
    color: rgba(255, 255, 255, 1);
    width: 114px;
    height: 40px;
    border-radius: 40px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    border: none;
}