main {
    width: auto;
    height: 725px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(242, 233, 216, 1);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.content-text h1 {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.content-text p {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.main-content img {
    width: auto;
    height: 400px;
   margin-bottom: 0;
}